@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: 'Roboto Italic';
    src: url('../fonts/Roboto-Italic.eot');
    src: url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Italic.woff') format('woff'),
    url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans Italic';
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic.woff') format('woff'),
    url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
      font-family: 'icomoon';
      src:  url('../fonts/icomoon.eot?dp2nx7');
      src:  url('../fonts/icomoon.eot?dp2nx7#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?dp2nx7') format('truetype'),
        url('../fonts/icomoon.woff?dp2nx7') format('woff'),
        url('../fonts/icomoon.svg?dp2nx7#icomoon') format('svg');
      font-weight: normal;
      font-style: normal;
      font-display: block;
    }
    
    [class^="icon-"], [class*=" icon-"] {
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
    
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    .icon-fax-solid:before {
      content: "\e900";
    }
    .icon-arrow-circle-right-solid:before {
      content: "\e901";
    }
    .icon-facebook-brands:before {
      content: "\e902";
    }
    .icon-mobile-alt-solid:before {
      content: "\e903";
    }
    .icon-envelope-regular:before {
      content: "\e904";
    }
    .icon-envelope-solid:before {
      content: "\e905";
    }
    .icon-chevron-circle-down-solid:before {
      content: "\e906";
    }
    .icon-caret-up-solid:before {
      content: "\e907";
    }
    .icon-caret-right-solid:before {
      content: "\e908";
    }
    .icon-caret-square-up-solid:before {
      content: "\e909";
    }
    .icon-caret-square-down-regular:before {
      content: "\e90a";
    }
    .icon-map-marker-alt-solid:before {
      content: "\e90b";
    }
    .icon-clock-regular:before {
      content: "\e90c";
    }
    .icon-phone-solid:before {
      content: "\e90d";
    }
    .icon-checkmark:before {
      content: "\e90e";
    }
    .icon-cheveron-down:before {
      content: "\e911";
    }
    .icon-cheveron-right:before {
      content: "\e90f";
    }
    .icon-close:before {
      content: "\e910";
    }
    .chevron-down::before {
      content: ">";
      font-family: 'Times New Roman';
    }